.main
  .main__header
    .main__header_box
      .main__header_group-name
        = @group.name
      .main__header_group-member
        Member : 
        %ul
          - @group.users.each do |user|
            %li= "&nbsp;#{user.name},".html_safe
    = link_to edit_group_path(@group), class:"main__header_edit_btn" do
      = "Edit"
  .main__messages
    = render @messages
  .main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "input_message", placeholder: "type a message"
      .input-box
        = f.label :image, class: "input_image" do
          = icon("fas", "image", class: 'icon')
          = f.file_field :image, class: 'hidden input_image_file'
      = f.submit 'Send', class: "submit-btn"


