.side
  .side__header
    .side__header_box
      %h3.side__header_box_user-name
        = current_user.name
      %ul.side__header_box_icons 
        %li
          = link_to new_group_path, class:"side_newgroup" do
            = icon("fas", "edit", class: 'icon')
        %li
          = link_to edit_user_path(current_user), class:"side_edit" do
            = icon("fas", "cog", class: 'icon')
  .side__groups
    - current_user.groups.each do |group|
      .side__group_box
        = link_to group_messages_path(group) do
          .side__group_box_name
            = group.name
          .side__group_box_message
            = group.show_last_message

