.side
  .side__header
    .side__header_box
      %h3.side__header_box_user-name
        = current_user.name
      %ul.side__header_box_icons 
        %li
          = link_to new_group_path, class:"side_newgroup" do
            = icon("fas", "edit")
        %li
          = link_to edit_user_path(current_user), class:"side_edit" do
            = icon("fas", "cog", class: 'icon')
  .side__groups
    .side__group_box
      %p.side__group_box_name
        techcamp
      %p.side__group_box_message
        まだメッセージがありません

